name = "UKSF Task Force Alpha - Temp"
author = "UKSF Taskforce Alpha Team"
prefix = "UKSFTA-Temp"
mainprefix = "z"

keyname = "UKSFTA"
signame = "UKSFTA"

[version]
path = "addons/main/script_version.hpp"

[files]
include = [
    "addons/*.pbo",
    "addons/*.bisign",
    "keys/*.bikey",
    "mod.cpp",
    "meta.cpp",
    "LICENSE",
    "README.md"
]

workshop_id = "3580353814"
workshop_tags = ["Mod", "Addon"]
